src/capsules/*
src/capsules
src/__pycache__/*
src/.ipynb_checkpoints/*
src/CoordConv/*
src/CoordConv
src/*.ptch
src/*.pkl
src/*.csv
src/*.json
src/*.txt
src/*.tsv
models/*
src/Untitled.ipynb
results/*
src/.~lock.total.csv#
src/*.sh
src/*.xlsx
